body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
a{
    text-decoration: none;
    
    background-image: linear-gradient(orange, tomato);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;
   color: white;
}
.welcome{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 80px;
}
.half-width img{
    width: 80%;
}
.Dream-Big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    display: flex;
    padding: 0;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
section{
    padding-bottom: 150px;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    font-weight: 600;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 1%;
}
#Full-Stack-Web{
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
#Baby-Web{
    border-left: 5px solid;
    border-radius: 10px;
border-image: linear-gradient(blue, skyblue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}